#draft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.blueTeam,
.redTeam {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.board {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  width: 360px;
}

.abilityPair {
  display: flex;
  flex-direction: row;
  padding: 6px;
}

.abilityPair img {
  padding: 2px;
}

#draftAbilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

#draftAbilities .abilityCard {
  margin-top: 0;
}

/* FOR PLAYER CARDS */

.playerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}

.playerCard * {
  margin: 0;
  margin-block: 0;
  padding: 0;
}

.playerPortrait {
  max-height: 25vh;
}

.redPlayerInfo,
.bluePlayerInfo {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.playerInfo {
  display: flex;
  flex-direction: row;
  height: 90px;
}

.playerStats {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.selectedAbilities {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-evenly;
  width: 200px;
}

.playerAttack,
.selectedAbilities img {
  max-width: 80px;
  max-height: 80px;
  padding: 5px;
}

.redPlayerInfo {
  margin-left: 10px;
}

.bluePlayerInfo {
  margin-right: 10px;
}

.redPlayerName,
#redTurn {
  color: red;
}

.bluePlayerName,
#blueTurn {
  color: blue;
}

#blueTurn,
#redTurn {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* FOR NAUTS AND ABILITIES LISTS */

#nautList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.nautCard {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45vw;
  padding: 10px;
  margin-top: 20px;
}

.abilityCard {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 10px;
  margin-top: 20px;
}

.abilityTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nautCard *,
.abilityCard * {
  margin: 0;
  margin-block: 0;
  padding: 0;
}

.nautCard img {
  max-height: 150px;
}

.nautAbilities span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nautsPage,
#abilitiesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nautList,
#abilityList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.nautCard {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45vw;
  padding: 10px;
  margin-top: 20px;
}

.nautCard * {
  margin: 0;
  margin-block: 0;
  padding: 0;
}

/* FOR THE NAV BAR */

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#navBar * {
  margin-right: 10px;
}
